<div class="body">

    <mat-grid-list cols="1" rowHeight="50px" style="margin-top: 5%;  margin-right: 5%;  margin-left: 5%;">
        <mat-grid-tile class="headerText" style="background-color: #3f51b5;">Login ou senha Inválidos</mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="100px" style="margin-top: 1%; margin-bottom: 5%;">

        <mat-grid-tile class="headerText">
            <div mat-dialog-actions>
                <button matTooltip="Voltar" class="buttonDiv" mat-fab color="warn" (click)="closeDialog()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-grid-tile>

    </mat-grid-list>

</div>


